{{ if size == 'small'}}
  <svg width="40" height="29" viewBox="0 0 40 29" fill="none" xmlns="http://www.w3.org/2000/svg" class="{{ class }}">
    <path d="M0 2H40" stroke="black" stroke-width="3"/>
    <path d="M0 14.709H40" stroke="black" stroke-width="3"/>
    <path d="M0 27.4189H40" stroke="black" stroke-width="3"/>
  </svg>
{{ else }}
  <svg width="50" height="36" viewBox="0 0 50 36" fill="none" xmlns="http://www.w3.org/2000/svg" class="{{ class }}">
    <path d="M0 2H50" stroke="black" stroke-width="3"/>
    <path d="M0 17.8872H50" stroke="black" stroke-width="3"/>
    <path d="M0 33.7739H50" stroke="black" stroke-width="3"/>
  </svg>
{{ endif }}