{{ if size == 'small'}}
  <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg" class="{{ class }}">
    <path d="M1.06104 1.56104L31.061 31.561" stroke="black" stroke-width="3"/>
    <path d="M31.061 1.56104L1.06104 31.561" stroke="black" stroke-width="3"/>
  </svg>
{{ else }}
  <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg" class="{{ class }}">
    <path d="M1.06104 1.56104L42.061 42.561" stroke="black" stroke-width="3"/>
    <path d="M42.061 1.56104L1.06104 42.561" stroke="black" stroke-width="3"/>
  </svg>
{{ endif }}