{{ collection:press_reviews locale="de" }}

  {{ partial:layout/article class="py-10 lg:py-14 border-t-6 lg:border-t-9 border-blushra" }}

  {{ if link }} 
    <a 
      href="{{ link }}" 
      aria-label="{{ title }}"
      target="{{ link | is_external_url ? '_blank' : '_self' }}"
      class="!no-underline flex flex-col gap-y-3 lg:gap-y-6">
      {{ if tags }}

        {{ tags }}
          {{ title }}
        {{/tags }}
        
      {{ /if }}

      {{ partial:components/headings/h3 }}
        {{ title }}
      {{ /partial:components/headings/h3 }}

      {{ if description }}
        <div>
          {{ description }}
        </div>
      {{ /if }}
    </a>
  {{ else }}
    
    <div class="flex flex-col lg:gap-y-2">
      
      {{ if tags }}

        {{ tags }}
          {{ title }}
        {{/tags }}
        
      {{ /if }}

      {{ partial:components/headings/h3 }}
        {{ title }}
      {{ /partial:components/headings/h3 }}

      {{ if description }}
        <div>
          {{ description }}
        </div>
      {{ /if }}

    </div>

  {{ /if }}

  {{ /partial:layout/article }}

{{ /collection:press_reviews }}